{
  "presets": ["react", "env", "stage-0"],
  "plugins": [
    "transform-decorators-legacy",
    "babel-plugin-transform-class-properties",
    ["import", { "libraryName": "antd", "style": "css" }],
  ],
}